.roundNum{
  /* background: black; */
  border-radius: 50%;
  margin: 0 !important;
  padding: 0 !important;
}

#panel_image{
  padding-top: 20px;
}

#emailUs{
  color: white !important;
}

.black-text{
  color: black;
}

.padding-bottom{
  padding-bottom: 1vh;
}

.padding-bottom-lg{
  padding-bottom: 3vh;
}

.bold{
  font-style: bold;
}

.very-large-font{
  font-size: 5vh;
}

.large-font{
  font-size: 3vh;
}

.medium-large-font{
  font-size: 2.5vh;
}

.medium-font{
  font-size: 2vh;
}

.italics{
  font-style: italic;
}

.use_case_wrap{
  padding: 5px !important;
}

#about_container{
	text-align: center;
}

.thumbnail {
  height: 120px;
}

.thumbnail_image {
  height: 15em;
  box-shadow: 3px 3px 25px #022169;
}

.thumbnail_image_example {
  height: 10em;
  box-shadow: 3px 3px 25px #022169;
}
/*#video_thumbnail{
	width=560;
	height="315" 
}*/
.question{
  font-weight: bold;
  padding-right: 10px;
}
@media (min-width: 500px) {
  #video_thumbnail {
    width: 720px;
    height: 420px;
  }

  .thumbnail {
    height: 200px;
  }
}
@media (min-width: 1000px) {
  #video_thumbnail {
    width: 720px;
    height: 420px;
  }

  .thumbnail {
    height: 320px;
  }
}
@media (min-width: 1500px) {
  #video_thumbnail {
    width: 720px;
    height: 420px;
  }

  .thumbnail {
    height: 420px;
  }
}


